@use "color-sizes-module.scss" as csm;
@use  "function-rem-module.scss" as f;

@mixin card($color, $border-color, $font-size: 1rem) {
    color: $color;
    border: f.px-to-rem(csm.$b-size) solid $border-color;
    font-size: $font-size;
    margin: f.px-to-rem(8) auto;
}
%text {
    width: fit-content;
    color: csm.$c-tertiary;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include card(csm.$c-primary, csm.$c-primary);
    h1 {
        @extend %text;
        border-bottom: f.px-to-rem(csm.$b-size) solid csm.$c-secondary;
    }
    h2 {
        @extend %text;
        padding: f.px-to-rem(16);
        border: csm.$b-size solid csm.$c-primary;
    }
    section {
        display: flex;
        margin: 0 f.px-to-rem(16px);
        article {
            &.first-art, &.third-art {
                @include card(csm.$c-secondary, csm.$c-tertiary);
            }
            &.second-art, &.fourth-art {
                @include card(csm.$c-primary, csm.$c-tertiary);
            }
            &.fifth-art {
                @include card(csm.$c-tertiary, csm.$c-secondary, f.px-to-rem(24px));
                margin-bottom: f.px-to-rem(16px);
            }
                p {
                text-align: center;
                padding: f.px-to-rem(8);
            }
        }   
    }
}